
<style>
    table{
        font-size: 12px;
    }
   
</style>
</br>
<div class="">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
            <div class="panel-heading">Patient Name</div>
            <div class="panel-body">Mr.Ramu</div>
         </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
            <div class="panel-heading">Report Date</div>
            <div class="panel-body">22-Jan-2016</div>
         </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
            <div class="panel-heading">Disease</div>
            <div class="panel-body">Disease:</div>
         </div>
        </div>
    </div><hr>
    <div class="col-sm-4">
       <table class="table table-hover">
    <tbody>
      <tr>
        <td>Date of Birth</td>
        <td>22/10/1993</td>
       </tr>
      <tr>
        <td>Sex</td>
         <td>Male</td>
      </tr>
      <tr>
        <td>FMI Case</td>
         <td>#</td>
      </tr>
       <tr>
         <td>Medical Records</td>
         <td>#</td>
      </tr>
       <tr>
         <td>Specimen ID</td>
         <td>#</td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-sm-4">
       <table class="table table-hover">
    <tbody>
      <tr>
        <td>Madical Facility</td>
        <td>Not Given</td>
       </tr>
      <tr>
        <td>Ordering Physician</td>
         <td>Dr.Patel</td>
      </tr>
      <tr>
        <td>Aditional Recipient</td>
         <td>Not Given</td>
      </tr>
       <tr>
         <td>Madical Facility ID#</td>
         <td>Not Given</td>
      </tr>
       <tr>
         <td>Pathologist</td>
         <td>Not Provided</td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="col-sm-4">
       <table class="table table-hover">
    <tbody>
      <tr>
        <td>Specimen Received</td>
        <td>22/01/2016</td>
       </tr>
      <tr>
        <td>Specimen Site</td>
         <td>Lung</td>
      </tr>
      <tr>
        <td>Date of Collection</td>
         <td>22/01/2016</td>
      </tr>
       <tr>
         <td>Specimen Type</td>
         <td>Block</td>
      </tr>
       
    </tbody>
  </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
             <h4>About the test:</h4>
        </div>
    </div>
   
    <p></p>
    <div class="row">
        <div class="col-md-6 ">
            <div class="panel panel-default">
            <div class="panel-heading">PATIENT RESULTS</div>
            <div class="panel-body">Disease:</div>
         </div>
        </div>
         <div class="col-md-6 ">
            <div class="panel panel-default">
            <div class="panel-heading">Disease</div>
            <div class="panel-body">Disease:</div>
         </div>
        </div>     
    </div>
</div>






      
        