<br><ul class="nav nav-tabs">
    <li ui-sref-active="active"><a  ui-sref="editProfile.personalDetails">Personal Details</a></li>
    <li ui-sref-active="active"><a  ui-sref="editProfile.qualification">Qualification</a></li>
    <li ui-sref-active="active"><a  ui-sref="editProfile.address">Address</a></li>
    <li ui-sref-active="active"><a  ui-sref="editProfile.drtimetable">Practice Time Table</a></li>
  </ul>
  <div ui-view></div>