<ul class="nav nav-tabs">
  <li><a ui-sref="clinicTab.basicinfo">Basic Information</a></li>
  <li><a ui-sref="clinicTab.Tools">Tools</a></li>
  <li><a ui-sref="clinicTab.staff">Staff</a></li>
</ul>
<div ui-view></div>