
	<h1>Contact us</h1>
        <hr>
	

<p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;Office: A-51 SECTOR-16,NOIDA -201301, (India).</p>
                    <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;Phone:+91-0120-4299550 &nbsp; Mob: +91-9999 216 269/ 9582 100 818</p>
                    <p>
                        <a href="https://www.gmail.com"><span class="glyphicon glyphicon-envelope"></span>&nbsp;enquiry@macoye.com</a>
                    </p>